@use 'mixins';

.attribution {
    padding: 1rem;
    font-size: 0.75rem; 
    text-align: center; 

    & a {
        color: $rose-dark;
    }

    @include breakpoint('medium') {
        font-size: 1rem;
    }
}