@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather&family=Outfit&family=Young+Serif:wght@100..900&family=Poppins:wght@400;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Neutral Colors
$white: hsl(0, 0%, 100%);
$stone-light: hsl(30, 54%, 90%);
$stone-lighter: hsl(30, 18%, 87%);
$stone-dark: hsl(30, 10%, 34%);
$stone-darker: hsl(24, 5%, 18%);

// Warm Colors
$brown-dark: hsl(14, 45%, 36%);

// Rose Colors
$rose-dark: hsl(332, 51%, 32%);
$rose-light: hsl(330, 100%, 98%);

// Font Family
$primary-family: 'Outfit', sans-serif;
$secondary-family: 'Young Serif', serif;